// FONTS
$text-font: 'Source Sans 3', sans-serif;
$title-font: 'Playfair Display', serif;

// SIZES
$base-font-size: 16px;
$base-padding-size: 15px;
$base-gap-size: 40px;

// HEIGHTS
$logo-height: 150px;
$icon-height: 20px;
$social-icon-height: 30px;
$base-book-height: 200px;

// COLORS
$bg-light-color: #e4dfdaff;
$text-light-color: #e4dfdaff;
$navbar-color: #c1666bff;
$title-color: #c1666bff;
$book-price-color: #5E747F;
$default-ln-color: #5E747F;
$footer-bg-color: #011627;

// BORDERS
$navbar-search-border: 1px solid #e4dfdaff;
$image-border: 1px solid #c1666bff;

// EFFECTS
$fast-transition-effect: 0.3s ease-in-out;